@charset "UTF-8";
.border{
  width: 500px;
  padding: 30px;
  background-color: #fad296;
  font-size: 16px;
  border: solid 5px ;
  border-color: #8f5a0a;
  line-height: 16px;
  border-radius: 40px;
  margin: 0 auto;
  position: relative;
}
.border:before,.border:after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  left: 30px;
}

.border:before {
  border-top: 20px solid #8f5a0a;
  bottom: -45px;
}

.border:after {
  border-top: 20px solid #fad296;
  bottom: -38px;
}